body {
    margin: 0px;
    padding: 0px;
    font-family: HGSMinchoB;
}

main {
    height: 100vh;
    width: 100%;
}

header {
    height: 10.3vh;
    background-color: white;
}

.header_text {
    text-align: center;
}
.header-logo1 {
    position: absolute;
    right: 10vw;
    top: 0;
    height: 10vh;
}

.header-logo2 {
    position: absolute;
    left: 10vw;
    top: 0;
    height: 10vh;
}

.header-facility {
    height: 5.15vh;
    width: 9.568vw;
    display: inline-block;
    margin: 0 0 5.15vh 0;
    position: relative;
}

.header-facility-link {
    display: block;
    font-size: 100%;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.header-home {
    height: 8.33vh;
    width: 15.48vw;
    display: inline-block;
    padding: 0;
    margin: 0 7.793vw 1.97vh 7.793vw;
    position: relative;
}

.header-home-link {
    display: block;
    font-size: 120%;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.header-movie {
    height: 5.15vh;
    width: 9.568vw;
    display: inline-block;
    margin: 0 0 5.15vh 0;
    position: relative;
}

.header-movie-link {
    display: block;
    font-size: 100%;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.container {
    height: 72.31vh;
    width:100%;
    /*background-color: antiquewhite;*/
}

.upper-container {
    height: 6.852vh;
    width: 100%;
    /*background-color: chocolate;*/
}

.content {
    height: 57.31vh;
    width: 100%;
    /*background-color: burlywood;*/
}

.movie-container {
    margin: 0;
    /*background-color: aliceblue;*/
    height: 57.31vh;
    width: 100%;
    text-align:center;
}

movie {
    display:inline;

}

.lower-container {
    height: 6.366vh;
    /*background-color: cadetblue;*/
}

.button {
    text-decoration: none;
    background-color: rgba(255,255,255,1.0);
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 5px;
    color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

    .button:hover {
        background-color: transparent;
        border: 2px solid crimson;
        color: crimson;
        border-radius: 30px;
    }

footer {
    height: 10.3vh;
    margin: 0 auto;
    /*background-color: azure;*/
}

.copyright {
    color: black;
    font-size: 10px;
    float: right;
    padding-right: 5vw;
    margin-top: 10vh;
}
.copyright-img{
    height:5vh;
}

adress {
    text-align: center;
}
